<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('./partials/head') %>

    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <h1>Movies List</h1>
        <br>
        <div class="d-flex gap-1">
            <a class="btn btn-info" href="/movies/add">Add Movie</a></p>
            <a class="btn btn-info" href="/">Home</a></p>
            <a class="btn btn-info" href="/movies/new">News Movies</a></p>
        <a class="btn btn-info" href="/movies/recommended">Movies Recommended</a></p>
        </div>

        <br>
        <br>
        <ul>
            
            <% for( let i=0; i < movies.length; i++ ) { %>
                <th scope="col">Name Movie:</th>
                <table class="table table-striped">
                    <td><a href="/movies/detail/<%= movies[i].id %>">
                        <%= movies[i].title %>
                    </a></td>  
                </table>
                <% } %>

        </ul>



        <!-- SCRIPT-BOOTSTRAP -->
        <%- include('./partials/script') %>
    </body>

</html>